<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <nav id="home">
        <ul id='navhom'>
            <h1>
                Bienvenidos a mi primer proyecto de HTML! Los invito a reírse conmigo de esta práctica que realicé para el curso de Full Stack de Digital House y la Fundación Formar.
                A continuación, algunos capos de la programación y otras personas emblemáticas.
            </h1>
            <section class='container'>
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/babbage">
                       <img src="../public/img/220px-CharlesBabbage.jpg" alt="babbage"></a>
                       <h4>Charles Babbage</h4>
                 </div>       
            </div> 
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/berners-lee">
                       <img src="../public/img/Sir_Tim_Berners-Lee_(cropped).jpg"></a>
                       <h4>Berners Lee</h4>
                 </div>       
            </div> 
             
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/clarke">
                       <img src="../public/img/220px-Clarke_cropped.jpg"></a>
                       <h4>Joan Clarke</h4>
                 </div>       
            </div>   
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/hamilton">
                       <img src="../public/img/220px-Margaret_Hamilton_1995.jpg"></a>
                       <h4>Margaret Hamilton</h4>
                 </div>       
            </div> 
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/hopper">
                       <img src="../public/img/220px-CharlesBabbage.jpg"></a>
                       <h4>Grace Murray Hopper</h4>
                 </div>       
            </div>   
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/lovelace">
                       <img src="../public/img/22727_1209__20151015131229po.jpg"></a>
                       <h4>Ada Lovelace</h4>
                 </div>       
            </div>  
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/turing">
                       <img src="../public/img/Alan_Turing_Aged_16.jpg"></a>
                       <h4>Alan Turing</h4>
                 </div>       
            </div>     

        </section>
    </nav>


</body>